@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body, html {
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgb(137, 198, 248), #f9f9f9); 
}

header {
    background-color: #00A1FC;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff; 
}


.logo {
    color: #ffffff;
    font-size: 30px;
}


.navigation a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover, 
.navigation a.active {
    background: #0087d4;
    color: #ffffff;
}

.parallax {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 10px 10px; 
}


.parallax h2 {
    margin-bottom: 10px; 
    font-size: 30px;
    color: white;
}


.article-placeholder {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.article-placeholder h2 {
    margin-bottom: 20px;
}

.article-placeholder article {
    width: 45%; 
    margin-right: 5%;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.article-placeholder article:last-child {
    margin-right: 0;
}

.article-placeholder article .button {
    width: auto; 
    margin-top: auto; 
}

.sec {
    padding: 50px 20px;
    font-size: 16px;
}

.sec h2 {
    margin-bottom: 20px;
}

.sec p {
    line-height: 1.6;
}

.button {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #00A1FC;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.button:hover {
    background-color: #00A1FC;
}

footer {
    background-color: #006495;
    color: white;
    padding: 0.1px; 
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
}

.article-placeholder article .button {
    width: 100px; 
    margin-top: auto; 
    padding: 10px 20px; 
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px;
    font-size: 15px;
    display: inline-block; 
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 100px; 
    height: auto;
    margin-right: 10px;
}


@media only screen and (max-width: 768px) {
    .logo {
        font-size: 20px;
    }
    
    .navigation {
        flex-direction: column;
        align-items: center;
    }
    
    .navigation a {
        margin: 10px 0;
    }
    
    .parallax h2 {
        font-size: 25px;
    }
    
    .article-placeholder article {
        width: 100%;
        margin-right: 0;
    }

    .article-placeholder article {
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .article-placeholder article h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .article-placeholder article p {
        font-size: 14px;
        line-height: 1.4;
    }

    .article-placeholder article:last-child {
        margin-right: 5%;
    }

    .article-placeholder article {
        width: 45%; 
    }

    .article-placeholder article {
        margin-right: 5%; 
    }
    .article-placeholder article:last-child {
        margin-right: 0; 
    }
}
