@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #f3f3f3;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 33px;
    padding: 20px;
    width: 100%;
    height: 90vh; 
    background-color: #91aec4; 
    margin-bottom: 20px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inicio h1 {
    margin-bottom: 20px;
}

.inicio p {
    color: #ececec;
    font-size: 19px;
    margin-top: 20px;
    max-width: 800px; 
}

header {
    background-color: #5f84a2;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h2 {
    font-size: 30px;
    align-items: center;
}

.logo-image {
    width: 80px;
    height: auto;
    margin-right: 10px;
    border-radius: 20px;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 10px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}

.navigation a:hover {
    background-color: #436886;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px; 
}

.recursos {
    background-color: #fdfcfc;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around; 
    width: 100%;
    height: 38vh; 
    margin-bottom: 20px;
}

.title {
    background-color: #fdfcfc;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 5px;
    text-align: center; /* Fixed alignment */
}

.title h2 {
    margin-top: 10px;
    color: #005383;
}

.zoe {
    background-color: #fdfcfc;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.zoe h2 {
    margin-bottom: 10px;
    color: #005383;
}

.zoe img {
    width: 35%; 
    margin-right: 10%; 
    border-radius: 25px; 
    margin-top: 10px;
}

.zoe .text {
    flex: 1;
    text-align: center;
}

.servicos {
    background-color: #fdfcfc;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.servicos h2 {
    margin-bottom: 10px;
    color: #005383;
}

.servicos img {
    width: 35%; 
    margin-left: 10%; 
    border-radius: 25px; 
    margin-top: 10px;
}

.servicos .text {
    flex: 1;
    text-align: center;
}

.text-marketing {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 33px;
    padding: 20px;
    width: 100%;
    height: 95vh; 
    background-color: #91aec4; 
}

.text-marketing h2 {
    margin-bottom: 20px;
}

.text-marketing p {
    color: #ececec;
    font-size: 19px;
    margin-top: 20px;
    max-width: 800px; 
}

.marketing .equipe {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.marketing .equipe h5 {
    margin-bottom: 10px;
}

.marketing .equipe .button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #5f92bd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.marketing .equipe .button:hover {
    background-color: #436886;
}

.footer {
    background-color: #5f84a2;
    padding: 1px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin-bottom: 35px;
    color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .inicio {
        height: auto; 
    }

    .inicio h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .inicio p {
        font-size: 16px; 
    }

    .recursos {
        height: auto; 
    }

    .recursos .icon-text {
        flex-direction: column; 
        align-items: center; 
        margin-bottom: 20px;
    }

    .recursos img {
        width: 60px;
        height: 60px; 
        margin-bottom: 10px; 
    }

    .zoe,
    .servicos {
        padding: 10px; 
    }

    .zoe img,
    .servicos img {
        max-width: 100%; 
        border-radius: 10px; 
        margin-bottom: 10px; 
    }

    .zoe .text,
    .servicos .text {
        margin-top: 20px;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .logo-image {
        margin-right: 0;
    }

    .logo {
        margin-bottom: 0;
        text-align: center;
    }

    .text-marketing {
        height: auto;
        padding: 10px; 
    }

    .text-marketing h2 {
        font-size: 28px; 
    }

    .text-marketing p {
        font-size: 16px; 
    }

    .marketing .equipe .button {
        padding: 6px 12px;
    }

    .footer {
        padding: 15px;
    }
}
